<% if user_signed_in? && current_user.is_blogger %>
  <%= link_to 'New', new_post_path, :class => "btn btn-primary glyphicon glyphicon-chevron-right" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% @posts.each do|post| %>
        <h1><%= link_to post.title, post %></h1>
        <p><span class="glyphicon glyphicon-time"></span> <%= post.published_on %></p>
        <% if user_signed_in? && current_user.is_blogger %>
          <small>
            
            <%= link_to 'Edit', edit_post_path(@posts) %> |
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </small>
        <% end %>
      <% end %>
      <!-- pager -->
      <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
      </ul>
    </div>
    <%= render 'posts/sidebar' %>
  </div>
  <hr>
</div><!-- /.container -->